/*VARIABLES*/
$colorNaranja: #FF7000;
$colorBlanco: #FFFFFF;

@mixin sizes($ancho) {
    width: $ancho;
}

@mixin heights($alto) {
    height: $alto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e1f4f3;
}

/*--------------EMPIEZAN ESTILOS DEL HEADER----------------*/
header {
    background-image: url("../imagenes/headerYLogo/banner.jpg");
    background-size: cover;
    @include sizes(100%);
    @include heights(500px);
}


.headerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 250px 250px;
    grid-column-gap: 10px;
    grid-template-areas:
        "logoHeader menu menu"
        "titulo titulo titulo";
    justify-items: center;
    align-content: end;
}

.logoHeader {
    grid-area: logoHeader;
    margin-top: 30px;
}

.navbar {
    grid-area: menu;
}

.titulo {
    grid-area: titulo;
    justify-self: start;
}

.bg-light {
    background-color: transparent !important;

}

a.nav-link {
    color: $colorBlanco !important;
}

a.nav-link:hover {
    color: $colorNaranja !important;
}

h1 {
    color: $colorBlanco;
    font-size: 60PX;
    margin-left: 80px;
}

/*--------------TERMINAN ESTILOS DEL HEADER----------------*/



h2 {
    color: #333333;
    margin: 50px auto;
    font-weight: bolder;
    font-size: 40px;
    animation-duration: 2s;
    animation-name: aparecer;
    text-align: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h3 {
    font-size: 23px;
    padding-bottom: 8px;
}

li {
    a {
        color: $colorBlanco;
        font-weight: normal;
        font-size: x-large;
    }
}

#linkAdopciones {
    color: #333333;
}


.ol__li {
    color: #333333;
    font-weight: bold;
    list-style-position: inside;
    line-height: 25px;
    list-style-type: disc;
}

.texto {
    padding: 20px;
    text-align: justify;
}

/*--------------EMPIEZAN ESTILOS DEL INDEX----------------*/

.encabezadoQueHacemos1,
.encabezadoQueHacemos2,
.encabezadoQueHacemos3 {
    margin-top: 20px;
}

.imagenQueHacemos1,
.imagenQueHacemos2,
.imagenQueHacemos3 {
    @include sizes(300px);
}

.salvarVida {
    font-size: 40px;
    text-decoration: none;
    @extend .informacionFooter__link;
}

.salvarVida:hover {
    color: black !important;
}

.botonSalvarVida {
    margin: 0 auto;
}


/*--------------TERMINAN ESTILOS DEL INDEX----------------*/


/*--------------EMPIEZAN ESTILOS DE EQUIPO----------------*/
.nombreEquipo {
    font-weight: bold;
}

.colEquipo {
    @include sizes(330px);
}

.contenedorEquipo {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

/*--------------TERMINAN ESTILOS DE EQUIPO----------------*/


/*--------------------EMPIEZAN ESTILOS DE ADOPCIONES-------------------*/
.adopciones {
    background-image: url(../imagenes/sliderAdopciones/perroAmor.png);
    background-size: cover;
    @include heights(480px);
}

blockquote {
    margin: 20px auto;
    @include sizes(95%);
}

.adopciones__adopcionesForm {
    padding-left: 100px;
}

.adoption {
    padding-top: 150px;
    // margin-left: 30px;
}


.carousel-caption-dark h3,
.carousel-caption-dark p {
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel-caption-light h3,
.carousel-caption-light p {
    color: $colorBlanco;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel-caption {
    // background-color: #B3AAAA;
    margin: 0;
    padding: 0;
}


.carouselAdopciones {
    margin: 50px auto;
    @include sizes(60%);
}


select.form-select {
    @include sizes(300px);
}

#botonAdopciones {
    margin-top: 15px;
}

#tituloFormAdopciones {
    @extend #botonAdopciones;
}

/*--------------------Terminan estilos de adopciones-------------------*/

/*--------------EMPIEZAN ESTILOS DE FAQS----------------*/
#accordion {
    margin: 70px auto;
}

a.card-link {
    color: $colorNaranja;
    font-weight: bold;
}

#faqs {
    list-style-position: inside;
}

/*--------------TERMINAN ESTILOS DE FAQS----------------*/

/*---------------------INICIO FOOTER---------------------*/

// $redes: (facebook: #3F2AC2,
// instagram: #F8208B,
// twitter: #44D3F7);

// @each $red,
// $color in $redes {
//     .#{$red}:hover {
//         background-color: $color;
//     }
// }


footer {
    background-image: radial-gradient(#D6D4D4, #7C7878);
    @include heights(350px);
}

.redesLogo {
    @include sizes(50px);
    transition: all 1s;
}

.redesLogo:hover {
    @include sizes(70px);
}

.redes {
    display: inline-block;
    margin: auto 5px;
    overflow: hidden;
}

form {
    legend {
        font-weight: bold;
        font-size: larger;
    }
}

input[type=submit],
[type=reset] {
    padding: 10px;
    background-color: #F4F4F4;
    border-radius: 15px;
    font-weight: bold;
}

.textoFormulario {
    font-weight: bold;
    padding-bottom: 20px;
}

.gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 100px;
    grid-column-gap: 10px;
    grid-template-areas:
        "logoRefugio formulario suscripcion"
        "logoRefugio formulario links"
        "redes formulario links";
    justify-items: center;
    align-content: end;
}

.footer__logoRefugio {
    grid-area: logoRefugio;
    @include sizes(180px);
    padding-top: 30px;
}

.social {
    grid-area: redes;
    align-self: center;
}

.formContacto {
    grid-area: formulario;
}

.formSuscripcion {
    grid-area: suscripcion;
    align-self: start;
}

.informacionFooter {
    grid-area: links;
}

.informacionFooter__titulo {
    font-size: 22px;
    font-weight: bold;
}

.informacionFooter__lista {
    list-style: none;
}

.informacionFooter__link {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.informacionFooter__link:hover {
    color: $colorNaranja;
    text-decoration: underline;
}

button.btn.btn-primary {
    background-color: #F49D59;
    border-color: $colorNaranja;
}

button.btn.btn-primary:hover {
    background-color: $colorNaranja;
}

.form-check-input:checked {
    background-color: $colorNaranja;
}

/*--------------TERMINAN ESTILOS DE FOOTER----------------*/


@media (min-width: 992px) {

    /*TAMANIO GRANDE*/

    .contenedorAdopciones {
        display: none;
    }

    h1 {
        margin-top: 20px;
    }

    .logoHeader {
        @include sizes(180px);
        transition: width 1s;
    }

    .logoHeader:hover {
        @include sizes(200px);
    }

    div.logoHeaderAnimacion {
        @include sizes(220px);
        @include heights(220px);
    }

    /*empieza seccion de texto en columnas de pagina de inicio*/
    .queHacemos {
        margin: 30px 30px 50px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 75px 240px 400px 140px;
        grid-column-gap: 25px;
        grid-template-areas:
            "h3a h3b h3c"
            "parrafoQueHacemos1 parrafoQueHacemos2 parrafoQueHacemos3"
            "imagenQueHacemos1 imagenQueHacemos2 imagenQueHacemos3"
            "botonSalvarVida botonSalvarVida botonSalvarVida";
        justify-items: center;
    }

    .encabezadoQueHacemos1 {
        grid-area: h3a;
    }

    .encabezadoQueHacemos2 {
        grid-area: h3b;
    }

    .encabezadoQueHacemos3 {
        grid-area: h3c;
    }


    @each $parrafosQueHacemos in parrafoQueHacemos1,
    parrafoQueHacemos2,
    parrafoQueHacemos3 {
        .#{$parrafosQueHacemos} {
            grid-area: $parrafosQueHacemos;
        }
    }

    @each $imagenesQueHacemos in imagenQueHacemos1,
    imagenQueHacemos2,
    imagenQueHacemos3 {
        .#{$imagenesQueHacemos} {
            @include sizes(340px);
            grid-area: $imagenesQueHacemos;
        }
    }

    .botonSalvarVida {
        grid-area: botonSalvarVida;
        margin-top: 40px;
        @include sizes(350px);
    }

    /*termina seccion de texto en columnas de pagina de inicio*/

    /*-----------------Empiezan estilos de donaciones-----------------*/

    .donaciones {
        margin: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 650px;
        grid-column-gap: 25px;
        grid-template-areas:
            "sliderDonaciones sliderDonaciones formDonaciones";
        align-items: center;
    }

    .donaciones__sliderDonaciones {
        grid-area: sliderDonaciones;
    }

    .donaciones__formDonaciones {
        grid-area: formDonaciones;
    }

    .boton:hover {
        background-color: $colorNaranja;
    }


    /*-----------------Terminan estilos de donaciones-----------------*/


    input#nombreAdopcion,
    input#apellidoAdopcion,
    input#emailAdopcion,
    input#telefonoAdopcion,
    input#selectAdopcion {
        @include sizes(300px);
    }

}


@media (max-width: 992px) and (min-width: 577px) {

    /*TAMANIO MEDIANO*/

    /*---------------------------EMPIEZAN ESTILOS DE INDEX--------------------------------------*/
    .queHacemos {
        margin: auto 15px auto 15px;
    }

    .queHacemos {
        margin: auto 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 200px 350px 70px 200px 350px 70px 200px 350px 30px;
        grid-template-areas:
            "titulo1"
            "texto1"
            "foto1"
            "titulo2"
            "texto2"
            "foto2"
            "titulo3"
            "texto3"
            "foto3"
            "botonSalvarVida";
        justify-items: center;
        align-content: center;
    }

    .encabezadoQueHacemos1 {
        grid-area: titulo1;
    }

    .encabezadoQueHacemos2 {
        grid-area: titulo2;
    }

    .encabezadoQueHacemos3 {
        grid-area: titulo3;
    }

    .parrafoQueHacemos1 {
        grid-area: texto1;
    }

    .parrafoQueHacemos2 {
        grid-area: texto2;
    }

    .parrafoQueHacemos3 {
        grid-area: texto3;
    }

    .imagenQueHacemos1 {
        grid-area: foto1;
    }

    .imagenQueHacemos2 {
        grid-area: foto2;
    }

    .imagenQueHacemos3 {
        grid-area: foto3;
    }

    .botonSalvarVida {
        margin: 30px;
    }

    /*---------------------------TERMINAN ESTILOS DE INDEX--------------------------------------*/


    /*---------------------------EMPIEZAN ESTILOS DE HEADER--------------------------------------*/

    .logoHeader {
        @include sizes(150px);
    }

    .logoHeader:hover {
        @include sizes(150px);
    }

    div.logoHeaderAnimacion {
        @include sizes(170px);
        @include heights(170px);
    }

    .navbar-light .navbar-toggler {
        background-color: $colorNaranja;
    }

    .bg-light {
        margin-top: 30px;
    }

    h1 {
        font-size: 50px;
    }

    .headerMenu {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 200px 300px;
        grid-template-areas:
            "logo menu"
            "titulo menu";
        justify-items: center;
        align-items: start;
    }

    .logoHeader {
        grid-area: logo;
        margin-top: 20px;
    }

    .container-fluid {
        grid-area: menu;
    }

    .navbar-nav {
        background-color: #FF7000;
        position: absolute;
        right: 0;
    }

    .titulo {
        grid-area: titulo;
        font-size: 50px;
        text-align: center;
        margin: 20px auto;
    }


    /*---------------------------TERMINAN ESTILOS DE HEADER--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE FOOTER--------------------------------------*/

    .gridFooter {
        grid-column-gap: 15px;
    }


    /*---------------------------TERMINAN ESTILOS DE FOOTER--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE EQUIPO--------------------------------------*/

    .cardEquipo,
    .colEquipo {
        @include sizes(230px);
    }

    .contenedorEquipo {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 440px 440px 440px;
        grid-template-areas:
            "persona1 persona2 persona3"
            "persona4 persona5 persona6"
            "persona7 persona8 persona9";
        justify-items: center;
        align-items: center;
    }

    .fotoEquipo {
        @include sizes(210px);
    }


    .persona1 {
        grid-area: persona1;
    }

    .persona2 {
        grid-area: persona2;
    }

    .persona3 {
        grid-area: persona3;
    }

    .persona4 {
        grid-area: persona4;
    }

    .persona5 {
        grid-area: persona5;
    }

    .persona6 {
        grid-area: persona6;
    }

    .persona7 {
        grid-area: persona7;
    }

    .persona8 {
        grid-area: persona8;
    }

    .persona9 {
        grid-area: persona9;
    }

    /*---------------------------TERMINAN ESTILOS DE EQUIPO--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE ADOPCIONES--------------------------------------*/

    .adopciones__adopcionesForm {
        padding: 0px 15px;
    }


    .contenedorAdopciones {
        @include sizes(100%);
        margin-bottom: 20px;
    }

/*---------------------------ESTILO DE DONACIONES--------------------------------------*/
    .donaciones__formDonaciones {
        padding: 0px 15px;
    }
    /*---------------------------TERMINAN ESTILOS DE ADOPCIONES--------------------------------------*/


}




@media (max-width: 576px) {

    /*TAMANIO CHICO*/

    /*---------------------------EMPIEZAN ESTILOS DE ADOPCIONES--------------------------------------*/

    .contenedorAdopciones {
        @include sizes(100%);
        margin: 20px auto;
    }

    .adopciones__adopcionesForm {
        padding: 0px 15px;
    }

    /*---------------------------TERMINAN ESTILOS DE ADOPCIONES--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE DONACIONES--------------------------------------*/

    .donaciones__formDonaciones {
        padding: 0px 15px;
    }

    .carousel {
        display: none;
    }

    /*---------------------------TERMINAN ESTILOS DE DONACIONES--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE HEADER--------------------------------------*/

    a.nav-link {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 15px !important;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
    }

    ul li a {
        font-size: 20px;
    }


    .logoHeader {
        @include sizes(110px);
        margin: 20px 0 0 20px;
    }

    .logoHeader:hover {
        @include sizes(110px);
    }

    div.logoHeaderAnimacion {
        @include sizes(130px);
        @include heights(130px);
    }

    h1 {
        font-size: 25px;
        margin: 20px 10px 20px 10px;
    }

    header {
        @include heights(200px);
    }

    .headerMenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        grid-template-areas:
            "logoHeader titulo menuMobile";
        justify-items: center;
        align-items: flex-start;
    }

    .navbar-nav {
        background-color: #FF7000;
    }

    .logoHeaderAnimacion {
        grid-area: logoHeader;
    }

    .titulo {
        grid-area: titulo;
    }

    .navbar {
        grid-area: menuMobile;
    }

    .navbar-light .navbar-toggler {
        background-color: $colorNaranja;
    }

    #dropdownMenu2 {
        margin: 20px;
        color: $colorNaranja;
    }

    button a {
        color: $colorNaranja;
    }

    button a:hover {
        color: $colorNaranja;
    }

    .dropdown-item {
        padding-left: 2px;
    }

    /*---------------------------TERMINAN ESTILOS DE HEADER--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE INDEX--------------------------------------*/

    .queHacemos {
        margin: auto 10px auto 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 200px 350px 70px 200px 350px 70px 200px 350px 30px;
        grid-template-areas:
            "titulo1"
            "texto1"
            "foto1"
            "titulo2"
            "texto2"
            "foto2"
            "titulo3"
            "texto3"
            "foto3"
            "botonSalvarVida";
        justify-items: center;
        align-content: center;
    }

    .encabezadoQueHacemos1 {
        grid-area: titulo1;
    }

    .encabezadoQueHacemos2 {
        grid-area: titulo2;
    }

    .encabezadoQueHacemos3 {
        grid-area: titulo3;
    }

    .parrafoQueHacemos1 {
        grid-area: texto1;
    }

    .parrafoQueHacemos2 {
        grid-area: texto2;
    }

    .parrafoQueHacemos3 {
        grid-area: texto3;
    }

    .imagenQueHacemos1 {
        grid-area: foto1;
    }

    .imagenQueHacemos2 {
        grid-area: foto2;
    }

    .imagenQueHacemos3 {
        grid-area: foto3;
    }

    .botonSalvarVida {
        margin: 20px;
    }


    /*---------------------------TERMINAN ESTILOS DE INDEX--------------------------------------*/

    /*---------------------------EMPIEZAN ESTILOS DE FOOTER--------------------------------------*/

    .redesLogo {
        @include sizes(30px);
    }

    .redesLogo:hover {
        @include sizes(30px);
    }

    footer {
        margin: auto auto 10px auto;
        @include heights(430px);
    }

    .gridFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 90px 150px;
        grid-column-gap: 10px;
        grid-template-areas:
            "logoRefugio formulario "
            "suscripcion formulario "
            "links redes";
        justify-items: center;
        align-content: end;
    }

    .footer__logoRefugio {
        grid-area: logoRefugio;
        @include sizes(130px);
        padding-top: 0;
    }

    .social {
        grid-area: redes;
        align-self: end;
        @include sizes(100%);
    }

    .formContacto {
        grid-area: formulario;
    }

    .formSuscripcion {
        grid-area: suscripcion;
        align-self: start;
    }

    .informacionFooter {
        grid-area: links;
    }

    .informacionFooter__titulo {
        font-size: 18px;
    }

    .informacionFooter__link {
        font-size: 15px;
    }

    /*---------------------------TERMINAN ESTILOS DE FOOTER--------------------------------------*/


    .ol__li {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*---------------------------EMPIEZAN ESTILOS DE EQUIPO--------------------------------------*/
    .cardEquipo,
    .colEquipo {
        @include sizes(230px);
    }

    .fotoEquipo {
        @include sizes(200px);
    }

    .contenedorEquipo {
        margin: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 440px 440px 440px 440px 440px;
        grid-template-areas:
            "persona1 persona2"
            "persona3 persona4"
            "persona5 persona6"
            "persona7 persona8"
            "persona9 persona9";
        justify-items: center;
        align-items: center;
    }

    .persona1 {
        grid-area: persona1;
    }

    .persona2 {
        grid-area: persona2;
    }

    .persona3 {
        grid-area: persona3;
    }

    .persona4 {
        grid-area: persona4;
    }

    .persona5 {
        grid-area: persona5;
    }

    .persona6 {
        grid-area: persona6;
    }

    .persona7 {
        grid-area: persona7;
    }

    .persona8 {
        grid-area: persona8;
    }

    .persona9 {
        grid-area: persona9;
    }

    /*---------------------------TERMINAN ESTILOS DE EQUIPO--------------------------------------*/
}